<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IVO_Suite.Properties.Settings.PRIEICConnectionString"
            connectionString="Data Source=svr\lp750;Initial Catalog=PRIEIC;Persist Security Info=False;User ID=sa;Password=sapassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>